<!DOCTYPE html>
<html ng-app="app.dashboard">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="/js/dashboard.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    </head>
    <body ng-controller="DashboardController as dashboard" >
        <nav >
            <a  href="#/home">Locations</a>
            <a href="#/near">Explore!</a>
        </nav>
        <div class="position">

          <a href="/logout" class="btn btn-lg btn-danger">Logout</a>
        </div>
    </body>
</html>
