<!DOCTYPE html>
<html data-ng-app="gear">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Economica|Open+Sans+Condensed:300" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../css/search.css">
    <style>

    </style>
    <script src="/js/search.js"></script>
  </head>
  <body data-ng-controller="gearController as profiles" class="rows">
      <nav class="navbar">
          <a class="home" href="/">Home</a>
          <a class="background-color" href="./search">Search for gear</a>
          <a class="explore-link"href="./explore">Explore!</a>
      </nav>
      <div >
          <div  id="map"></div>
          <div class="rightSide">
              <div>
                  <form class="searchForm">
                    <labal class="label">Equipment Type</labal>
                    <div class="checkbox">
                      <label><input ng-model="profiles.filter['Camping related']" type="checkbox">Camping Gear</label>
                    <div class="checkbox">
                      <label><input ng-model="profiles.filter['Water Sports']" type="checkbox">Water Sports</label>
                    </div>
                    <div class="checkbox">
                      <label><input ng-model="profiles.filter['Winter Sports']" type="checkbox">Winter Sports</label>
                    </div>
                    <div class="checkbox ">
                      <label><input ng-model="profiles.filter['Biking']" type="checkbox">Biking</label>
                    </div>
                    <div class="checkbox ">
                      <label><input ng-model="profiles.filter['Misc']" type="checkbox">Misc</label>
                    </div>
                  </form>
              </div>
              <div>
                  <form ng-model="sortPrice" class="searchForm2">
                    <labal class="label">Sort By</labal>
                    <label class="radio-inline checkbox"><input type="radio" ng-model="sortPrice" name="optradio" value="rate">Cheapest</label>
                    <label class="radio-inline checkbox"><input type="radio" ng-model="sortPrice" name="optradio" value="-rate">Most Expensive</label>
                  </form>
              </div>
              <div ng-repeat="profile in profiles.users | filter:profiles.filterByCategory | orderBy: sortPrice" class="gearProfile">
                  <img  class="gearImg" ng-src="{{ profile.photo }}"/>
                  <a href="/reserve/{{profile._id}}" class="button btn">Reserve Me</a>
                  <h1 class="title-search">{{ profile.titleDescription }}</h1>
                  <h2 >{{ profile.typeEquipment }}</h2>
                  <h3 class="location">@{{ profile.city }},{{ profile.state }}</h3>
                  <h3 class="rate">Starting From<span class="rateNumber">${{ profile.rate }}/</span>Day</h3>
              </div>
          </div>
      </div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4papMszGMD2QxBHl0lhCn-YYIqy4ib6c">
    </script>
  </body>
</html>
