#map {
       top: 80px;
       left:50px;
       height: 80vh;
       width: 90vw;
       position:relative;
   }
body {
    font-family: 'Economica', sans-serif;
}
img {
       border: 0;
       height: 150px;
       width: 209px;
 }
 .footer {
     height: 50%;
     width: 100%;
     color: black;
     font-size: 18px;
     background-color: rgba(0,0,0,.7);
     padding-top: 5%;
     z-index: 20;
     text-align: center;
     position: relative;
     top: 40px;
 }
