* {
    margin:0;
}

body, html {
    height:100%;
    /*font-family: 'Amatic SC', cursive;*/
    /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
    font-family: 'BenchNine', sans-serif;
    /*font-family: 'Teko', sans-serif;*/
}


h1, h2, h3, h4, h5, h6, p {
    margin-bottom:20px;
}

/*this is everything for the Nav bar*/
nav {
    position:fixed;
    width:100%;
    height:70px;
    background-color:rgba(0,0,0,.5);
    z-index:99;
    text-align: right;
}
.background-color{
    background-color: rgba(255,95,54,1);
    padding: 13px;
}

.navbar {
    margin-bottom: 0;
    background-color:rgba(0,0,0,.5);
    position:fixed;
}

nav a {
    text-decoration:none;
    color: white;

    /*font-weight: bold;*/
    margin-right:30px;
    position: relative;
    top: 15px;
    font-size: 30px;
    font-stretch: ultra-condensed;
}

nav a:hover {
    color:orange;
    text-decoration:none;
}
nav a:active {
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color:f9f9f9f;
}

.logo {
    height:98%;
    width:100px;
    margin:0;
    position:absolute;
    right:30%;
    top:0;
    border-radius:5px;
}
.title {
    z-index: 1000;
    color:white;
    position:relative;
    top:46%;
    text-align: center;


}
.title p {
    font-size:50px;
    font-weight:900;
    text-shadow: 5px 5px 10px black;
}

/*sign-in modal*/
.sign-in-modal{
    position:fixed;
    top:0;
    right:0;
    text-align:center;
    padding-top: 20%;
    width: 100vw;
    height:100vh;
    z-index:1002;
    background-color:rgba(0,0,0,.8);
    font-size:20px;
}
.sign-in-container{
    position:fixed;
    top:15%;
    right:33%;
    height:43%;
    width:33%;
    z-index: 1003;
}
.sign-in-exit {
    position:relative;
    top:0;
    right:-50%;
    color:#DDD;
    font-size:20px;
    cursor: pointer;
    padding-bottom: 40px;
    font-family: sans-serif;;
}
.sign-in-exit:hover {
    text-shadow: 5px 5px 10px white;

}

.input-group-addon {
    color: white;
    background-color: #eee;
    border: 0px;
    border-radius: 4px;
    background-color: rgba(255,95,54,1);
}
.log-in {

    z-index:1000;
    position:relative;
    top:47%;
    text-align: center;


}
.btn-login {
    width:100%;
    color:white;
    font-size: 20px;
    background-color: rgba(255,95,54,1);
}
/*These are my login and register buttons*/
.btn-lg {
    background-color:rgba(0,0,0,.5);
    color:white;
    font-size: 25px;
    height: 55px;
    border: solid white 0px;
    /*width:150px;*/
}
.btn-lg:hover {
    background-color:white;
    color:black;
}
.btn-lg:active {
    background-color:white;
    color:black;
}
.btn-lg:visited {
    background-color:white;
    color:black;
}
.btn-register{
    background-color:rgba(255,95,54,1);
    color:white;
    font-size: 25px;
    height: 55px;
    border: solid white 0px;
    /*width:150px;*/
}
.btn-register:hover {
    background-color: white;
    color:rgba(255,95,54,1);
}
.btn-register:active {
    background-color:rgba(255,95,54,1);
    color:white;
}
.btn-register:visited {
    background-color:rgba(255,95,54,1);
    color:white;
}

/*This is everthing for the footer*/
.footer {
    height: 50%;
    width:100%;
    color:#333;
    font-size: 30px;
    background-color: #F1F1F1;
    padding-top: 3%;
    z-index:20;
    text-align:center;
    position: relative;
    top: 40px;
}

/*This is everything for the steps sections*/
.steps {
    height:50%;
    width:100%;
    color:black;
    background-color:white;
    padding-top: 3%;
    z-index:20;
    text-align:center;
}

#caption{
    padding-bottom: 200px;
}


/*parrallax section css*/
.parallax {

    /*background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRbXFC_TplzE8G65lg4yPLxamMfiRKK4uOBuFXUH_wOBIFVvIeB') no-repeat fixed 100%;*/
    height: 100vh;
    width:100%;
    z-index: 20;
    background: url("../img/camping.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*everything for the video*/
.section {
    height:100%;
    background-size:cover;
    background-attachment: fixed;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    width:100vw;
    height:100vh;

}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
