#map {
    top: 80px;
    left:5%;
    height: 80vh;
    width: 90vw;
    position:relative;
}

#positionMap {
    position : relative;
    bottom: 100px;
    left: 100px;
    height: 400px;
    width: 400px;
}
