/*#map {
    top: 500px;
    left:150px;
    height: 400px;
    width: 600px;
    position:relative;

}

#positionMap {
    position : relative;
    bottom: 100px;
    left: 100px;
    height: 400px;
    width: 400px;
}*/
